#!/bin/bash
{{ ansible_managed | comment }}

{% for domain in certbot_domains %}
certbot certonly --quiet --non-interactive --agree-tos --email {{ certbot_email }} --keep-until-expiring --webroot -w {{ certbot_webroot }} -d "{{ domain.split(' ') | join('\" -d \"') }}"
{% endfor %}
